# FUNCTIONS

In [6]:
def Birthday (Name , cake , age):
    print(f"HAPPY BIRTHDAY {Name},you are turning {age} today")
    print(f"{cake} I Want cake")

In [7]:
Birthday ("francis","butter scotch",20)

HAPPY BIRTHDAY francis,you are turning 20 today
butter scotch I Want cake

In [8]:
def eligiblity (inputage):
    if inputage>=18:
        print("you are eligible for voting")
    else:
        print("you are not eligible to vote")

In [10]:
 eligiblity(18)

you are eligible for voting

In [10]:
def vote (name,age):
    if age>=16:
        print(f"{name},you're {age} years old and you are eligible to vote.")
    else:
        print(f"{name},you're {age} years old and you are not eligible to vote.")

In [11]:
vote("Francis",17)

Francis,you're 17 years old and you are eligible to vote.

In [4]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))

def eligibility(name, age): 
    if age >= 20:
        print(f"{name} is {age} years old and you are eligible to vote.")
    else:
        print(f"{name} is {age} years old and you are not eligible to vote.")

eligibility(name, age)

Enter your name: vikki
Enter your age: 18
vikki is 18 years old and you are not eligible to vote.

# Lambda

In [1]:
output=lambda n1,n2,n3: n1*n2-n3*n1-n3

In [2]:
print(output(10,20,7))

123

# Iterator and Generators

In [1]:
name_list=["LEO","ANDRES","MESSI","FCB"]
type(name_list)

list

# Key word for itrator : iter()

In [2]:
iterator=iter(name_list)
type(iterator)

list_iterator

In [3]:
name=next(iterator)
print(name)

LEO

In [4]:
while True:
    try:
        print(next(iterator))
    except StopIteration:
        break

ANDRES
MESSI
FCB

# Generator

In [5]:
def fib(limit):
    a, b = 0, 1
    while a < limit:
        yield a
        a, b = b, a + b
        
x = fib(10)

print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))

print("\nUsing for loop")
for i in fib(10):
    print(i)

0
1
1
2
3

Using for loop
0
1
1
2
3
5
8