# LOOPS

# List

In [7]:
fcb = ("MATS","PEDRI","GAVI","LEWA","LEO",10)

# Printing the list

In [8]:
for x in fcb:
    print(x)

MATS
PEDRI
GAVI
LEWA
LEO
10

# Print Even & ODD Number

In [22]:
leo=[20,333,243,224,765,234,88,12.45,10.31]

In [27]:
for num in leo:
    if num%2==0:
        print(f"{num} is even")
    else:
        print(f"{num} is odd")

20 is even
333 is odd
243 is odd
224 is even
765 is odd
234 is even
88 is even
12.45 is odd
10.31 is odd

In [35]:
for _ in'   Python   ':
    print("FCBARCELONA!S!!P!!A!!I!!N!!")

FCBARCELONA!S!!P!!A!!I!!N!!
FCBARCELONA!S!!P!!A!!I!!N!!
FCBARCELONA!S!!P!!A!!I!!N!!
FCBARCELONA!S!!P!!A!!I!!N!!
FCBARCELONA!S!!P!!A!!I!!N!!
FCBARCELONA!S!!P!!A!!I!!N!!
FCBARCELONA!S!!P!!A!!I!!N!!
FCBARCELONA!S!!P!!A!!I!!N!!
FCBARCELONA!S!!P!!A!!I!!N!!
FCBARCELONA!S!!P!!A!!I!!N!!
FCBARCELONA!S!!P!!A!!I!!N!!
FCBARCELONA!S!!P!!A!!I!!N!!

# List of Tuples

In [37]:
francis=[(10,20),(24.2,11),(12,65),(188,34),(864,33),(9999.4,22222)]

# Creating for LOOP

In [38]:
for item in francis:
    print(item)

(10, 20)
(24.2, 11)
(12, 65)
(188, 34)
(864, 33)
(9999.4, 22222)

# Creating Loop - Correcting the Error

In [40]:
for leo,messi in francis:
    print(leo)
    print(messi)

10
20
24.2
11
12
65
188
34
864
33
9999.4
22222

# Creating a dictonary

In [41]:
leo={1:'LIVERPOOL',2:'SALAH',3:'LOOPS'}

In [44]:
for item in leo:
    print(item)

1
2
3

# Printing iterms of dictonary

In [47]:
for item in leo.items():
    print(item)

(1, 'LIVERPOOL')
(2, 'SALAH')
(3, 'LOOPS')


# Printing the value in Dictionary

# Whlile LOOP

In [4]:
leo=input("Enter the number: ")
val = 0
i = 0

while i <= int(leo):
    val += i
    i += 1
     
print(f"The sum is {val}")

Enter the number: 10000000
The sum is 50000005000000

# While Loop with list

In [1]:
counter =2

while counter < 7:
    print("HOLA loop")
    counter = counter + 1
else:
    print("VILLARREAL else")

HOLA loop
HOLA loop
HOLA loop
HOLA loop
HOLA loop
VILLARREAL else

In [2]:
digits = [0,1,2,3,4,5]
for i in digits:
    print(i)
else:
    print("no item left")

0
1
2
3
4
5
no item left

In [5]:
count = 0
while True:
    print(count)
    count += 
    if count > = 5
        break

SyntaxError: invalid syntax (2767542557.py, line 5)